# optional
#jupyterlab
#jupyterlab-vim
#tabulate
#gradio==2.9b7

# convert these from environment.yml
torch
torchvision
pandas
#opencv
opencv-python
scikit-learn
tqdm
#cython
numpy
scikit-image
cython
git+https://github.com/philferriere/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI
tensorboard
tensorboardx
scipy
jupytext
PyMuPDF


# from thibaultvt / table-transformer-simple-inference
#pytesseract
